<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .active {
            color: red;
        }
    </style>
</head>
<body>
    <!-- <div id="app">
        Hello {{ message }}
        <hr>
        {{ (value + 100) * point }}
        <hr>
        {{ someValue }}
        <hr>
        {{ info }}
    </div> -->

  <!-- <hr />
    <div id="app-2">
        {{ className }}   
        <hr>
        <span v-bind:class="className">
            span inner text
        </span>
        <hr>
        <span :class="className">
            span inner text
        </span>
        <hr>
        <div :class="listOfClasses"></div>
        <div :title="'Hover text' + counter" :class="divClassOpt">Div</div>
    </div>

    <hr /> -->

    <!-- <div id="app-3">
        <span v-if="seen">Сейчас меня видно {{info}}</span>
    </div> -->
 
    <hr />

    <div id="app-4">
        <!-- <ol>
            <li v-for="(value, key) in list" v-if="value.text">
                {{ value.text }}
            </li>
        </ol> -->

        <!-- <ol>
            <li v-for="(value, key) in getMetList()" >
                {{ value }}
            </li>
        </ol>
        {{ getMetList() }}

        <hr>

        <ol>
            <li v-for="(value, key) in getMetListComputed" >
                {{ value }}
            </li>
        </ol>
        {{ getMetListComputed }} -->
    </div>
    <script src="./main.js"></script>
    <!-- <script src="./practice.js"></script> -->
</body>
</html>